.main-header {
    height: 60px;
    background-color: #c38e70;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    height: 100%;
    margin-left: 20px;
}

.logo-container img {
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.form-container {
    margin: auto;
}

.search {
    border-radius: 20px;
    border: 2px solid #7c3b16;
    background-color: rgba(255, 235, 205, 0.52);
}

.form {
    display: flex;
    align-items: center;
}

.icon {
    position: relative;
    left: -25px;
    font-size: 16px;
    opacity: 0.5;
    cursor: pointer;
}
